<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>all-users</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>


<br><br>
<table border="3">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отдел</th>
        <th>ЗП</th>
        <th>Операции</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.salary}"></td>
        <td>
            <form th:method="Get" th:action="@{updateUser}">
                <button type="submit" th:name="updateUser" th:value="${user.id}">Изменить</button>
            </form>
            <form th:method="Get" th:action="@{deleteUser}">
                <button type="submit" th:name="deleteUser" th:value="${user.id}">Удалить</button>
            </form>
        </td>
    </tr>
</table>
<br>
<input type="button" value="Добавить" onclick="window.location.href = 'addNewForm'"/>
<br>
<br>
<br>

<input type="button" value="На главную" onclick="window.location.href = '/index'"/>
</body>
</html>