<html xmlns:sec="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

<a href="/login">
    <h1>Добро пожаловать на стартовую страницу</h1>
</a>
<br><br>
<div sec:authorize="hasAuthority('ADMIN')">
    <input type="button" value="CRUD" onclick="window.location.href = '/admin/all-users'">
    Только для роли администратора
</div>
<br>
<br>
<!--<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">-->
<!--    <input type="button" value="Подробнее о пользователе" onclick="window.location.href = '/user/{name}'">-->
<!--    Для ролей администратора и пользователя-->
<!--</div>-->

</body>
</html>