<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add/update user</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>
<br><br>
<form th:method="POST" th:action="@{saveUser}" th:object="${user}">

    <!--input нужен для передачи ID в метод saveUser, скрыт-->
    <input hidden name="id" th:field="*{id}" id="id"/>

    <label for="name">Имя</label>
    <input name="name" th:field="*{name}" id="name" required/>
    <br/>
    <label for="surname">Фамилия</label>
    <input name="surname" th:field="*{surname}" id="surname" required/>
    <br/>
    <label for="department">Отдел</label>
    <input name="department" th:field="*{department}" id="department" required/>
    <br/>
    <label for="salary">ЗП</label>
    <input name="salary" th:field="*{salary}" id="salary" required/>
    <br/>
    <label for="salary">Пароль</label>
    <input name="password" type="password" th:field="*{password}" id="password" required/>
    <br/>
    <select th:field="*{roles}" multiple="true" required>
        <option th:each="r : ${setRoles}" th:value="${r.id}" th:text="${r.role}">
        </option>
    </select>
    <br/>

    <!-- Смена имени кнопки, в зависимости от функционала -->
    <div th:if="${user.name}">
        <input type="submit" value="Изменить">
    </div>
    <div th:unless="${user.name}">
        <input type="submit" value="Добавить">
    </div>

</form>
<br>
<br>
<br>

<input type="button" value="На главную" onclick="window.location.href = '/index'"/>

</body>
</html>